<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>549457516957-uu87ltj7h8p7ioq9simv3637bkmpqnve.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.549457516957-uu87ltj7h8p7ioq9simv3637bkmpqnve</string>
	<key>API_KEY</key>
	<string>AIzaSyCaIjt1awd36AZZLbbg-Wl6YXf8JdOPeoo</string>
	<key>GCM_SENDER_ID</key>
	<string>549457516957</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gcxDeviceManager.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>gcx-device-manager</string>
	<key>STORAGE_BUCKET</key>
	<string>gcx-device-manager.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:549457516957:ios:5118ad03385a0144763774</string>
	<key>DATABASE_URL</key>
	<string>https://gcx-device-manager-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>